<div class="container-fluid">
    
      <h2>Prueba Tecnica - Ministerio de Ambiente</h2>
  
      <div class="form-group">
        <label>Correo:</label>
        <input type="email" #firstEmail="ngModel" [class.is-invalid]="firstEmail.invalid && firstEmail.touched" required
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" name="primaryEmail"
          [(ngModel)]="userModel.correo" />
  
        <div *ngIf="firstEmail.errors && (firstEmail.invalid || firstEmail.touched)">
          <small class="text-danger" *ngIf="firstEmail.errors.required">El correo es requerido</small>
          <small class="text-danger" *ngIf="firstEmail.errors.pattern">Porfavor registre un correo valido</small>
        </div>
      </div>

      <div class="form-group">
        <label>Lista 1:</label>
        <p-dropdown [options]="items1" class="form-control" [(ngModel)]="selectedValue1" (onChange)='isUno()'></p-dropdown>
      </div>
      
      <div class="form-group">
        <label for="drop2">Lista 2:</label>
        <p-dropdown id="drop2" class="form-control" [options]="items2" [(ngModel)]="selectedValue2" optionLabel="valor" *ngIf="showSelect"></p-dropdown>
        <div *ngIf="!showSelect">Sin Lista de seleccion 2</div>
      </div>
      


    <button pButton type="button" label="Guardar" (click)='guardarDatos()'></button>
  
  
  </div>

  <p-table [value]="datosTable">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>CORREO</th>
            <th>Drop down 1</th>
            <th>Drop down 2</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dato>
        <tr>
            <td>{{dato.id}}</td>
            <td>{{dato.correo}}</td>
            <td>{{dato.select1}}</td>
            <td>{{dato.select2}}</td>
        </tr>
    </ng-template>
</p-table>
